.master-Screen{
    background: linear-gradient(to right, #8B4513, #430303);
height: 8vh;
margin-right: 5%;
width: 100%;
color: #ffffff;


}
.image-scrren{
    background: linear-gradient(to top,#882424, #ca8c60);
    margin-top: -1%;

}
